html,
body,
#root {
  height: 100%;
  width: 100%;
}

.about-main-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 70px;
}

.about-intro,
.our-mission,
.our-products,
.visit-us {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #212121;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid #fefefe;
  box-shadow: 4px 4px #fefefe;
  width: 50vw;
  margin: 20px;
}

.about-intro h1,
.our-mission h2,
.our-products h2,
.visit-us h2 {
  color: #ffffff;
}

.about-intro > .tagline {
  padding: 15px 0 10px 0;
  font-style: italic;
  font-weight: 600;
  color: #4b830d;
}

.about-intro p,
.our-mission p,
.our-products p,
.visit-us p {
  color: #bbb9b9;
  line-height: 1.6;
}

.visit-us a {
  color: #4b830d;
  text-decoration: none;
  font-weight: 600;
}

.visit-us a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #4b830d;
  transition: width 0.3s ease, left 0.3s ease;
}

.visit-us a:hover::after {
  width: 100%;
  left: 0;
}
