.accordion {
  width: 100%;
}

.accordion-header {
  background-color: #E87A5D;
  color: #fff;
  padding: 9px;
  margin: 0;
  cursor: pointer;
  font-size: 15px;
  position: relative;
}

.accordion-header.active {
  background-color: #E87A5D;
}

.accordion-content {
  background-color: #fafafa;
  color: #555;
  padding: 15px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

/* Hover effect on header */
.accordion-header:hover {
  background-color: #3B5BA5;
  color:#F3B941;
}

.accordion {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.accordion-item {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
}

.arrows {
  width: 30px;
  height: 25px;
  float: right;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}


@media screen and (max-width: 1024px) {
  .accordion-item {
    width: calc(33.33% - 10px);
  }
}


@media screen and (max-width: 768px) {
  .accordion-item {
    width: calc(
      100% - 10px
    ); 
  }
}
