
.pheader-container,
.alignCenter {
  display: flex;
  justify-content: center;
}
.account-login-form {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #212121;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid #fefefe;
  box-shadow: 4px 4px #fefefe;
  width: 50vw;
  margin: 20px;
  margin-top: 70px;
}

.account-login-form input {
  border-radius: 5px;
  border: 2px solid #fefefe;
  background-color: #111;
  box-shadow: 4px 4px #fefefe;
  font-size: 15px;
  font-weight: 600;
  color: #fefefe;
  outline: none;
  height: 45px;
  padding-left: 10px;
}

.account-login-form button {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 2px solid #fefefe;
  background-color: #111;
  box-shadow: 4px 4px #fefefe;
  font-size: 15px;
  font-weight: 600;
  color: #fefefe;
  outline: none;
  cursor: pointer;
}

.account-login-form button:hover {
  background-color: #0056b3;
}

.account-login-form input.contact-error-input {
  border: 5px solid rgba(151, 0, 0, 0.668);
  animation: shake 0.5s ease-in-out;
}
.account-login-form .contact-head {
  margin: 0px 0 0px 0;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  color: #fefefe;
  width: 100%;
}
.contact-text {
  color: #dfdfdf;
  width: 100%;
  height: 110px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ffffff32;
  background-color: transparent;
}

.thanks {
  padding: 10px;
  align-self: flex-start;
  color: #fff;
  width: 100%;
  border: 2px solid #4d8908fd;
  border-radius: 5px;
}

.registrationLink {
  color: #fff;
  font-size: 18px;
  margin: 0px;

  a {
    color: #4d8908fd;
  }
}

.forgot-password {
  color: #fff;
  cursor: pointer;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }
}

@media (max-width: 600px) {
  .account-login-form {
    width: 90vw;
  }

  .contact-head {
    font-size: 1rem;
  }
  .registrationLink {
    font-size: 1rem;
  }
}
