.slider {
  width: 100%;
  margin: auto;
}

/* Slide items */
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f5f5f5; */
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  height: 200px; /* Adjust height as needed */
}

/* Dots indicators */
.slick-dots {
  /* position: absolute; */
  /* bottom: 100px !important;  */
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dot indicators style */
.slick-dots li {
  margin: 0 10px;
}

.slick-dots li button {
  width: 25px;
  height: 4px;
  background-color: #999;
  border: none;
  cursor: pointer;
}

.slick-dots li button:before {
  font-size: 0 !important;
}

/* Active dot */
.slick-dots li.slick-active button {
  background-color: #00a35c;
}

/* Previous and Next buttons */
.slick-prev,
.slick-next {
  font-size: 0;
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 30px;
  line-height: 2;
  opacity: 1;
}

/* Hover effect on Previous and Next buttons */
.slick-prev:hover,
.slick-next:hover {
  color: #555;
}
.carousel-slide {
  position: relative;
  width: 100%;
  /* height: 80vh; */
  overflow: hidden; /* Hide any overflow content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slideOne {
  background-color: #00d680;
}
.slideTwo {
  background-color: #ffbb00;
}
.slideThree {
  background-color: #fb6542;
}
.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: fill; /* Ensure the image covers the entire container */
}

/* .carousel-caption {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
} */

.slick-prev {
  left: 25px !important;
}
.slick-next {
  right: 40px !important;
}


.upperSection {
  width: 100%;
}

.upperSection h2 {
  text-align: center !important;
  width: 100% !important; 
}

.row {
  display: flex;
  flex-direction: column;
}

.leftSideSection {
  width: 100%;
}

.leftSideSection img {
  width: 100%; 
}

.rightSideSection {
  width: 100%;
}

.rightSideSection ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .row {
    flex-direction: row; 
  }

  .upperSection h2 {
    text-align: left;
    width: 50%; 
  }

  .leftSideSection {
    width: 50%; 
  }

  .rightSideSection {
    width: 50%;
  }
}
