.forgot-password-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  width: 40vw;
}

.send-otp-button,
.verify-otp-button,
.submit-button {  
  background-color: #007bff;
  color: #f6f6f6;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #ffffff32;
}
.submit-button:hover,
.send-otp-button:hover,
.verify-otp-button:hover {
  background-color: #0056b3;
}

.password-form-container,
.otp-form-container,
.forgot-password-container input {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}